Servidor/TicTacToe-RPC-Encoded/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Tic Tac Toe. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:ECCI_TicTacToe"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"			 
			 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="ECCI_TicTacToe"
			 targetNamespace="urn:ECCI_TicTacToe">

	<!-- Tipos complejos -->	
	<types>
		<xsd:schema targetNamespace="urn:ECCI_TicTacToe"/>
	</types>

	<!-- Mensajes para comunicarse con la clase TicTacToe. -->

	<message name="moveIn">
		<part name="moveIndex" type="xsd:int"/>
	</message>

	<message name="moveOut">
		<part name="return" type="xsd:int"/>
	</message>

	<message name="leaderboardCheckIn">
		<part name="name" type="xsd:string"/>
	</message>
	
	<message name="intOut">
		<part name="return" type="xsd:int"/>
	</message>

	<message name="stringOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="begin"/>
	<message name="output"/>

	<!-- Puerto para comunicar con la clase TicTacToe, "ECCI_TicTacToePort" -->

	<portType name="ECCI_TicTacToePort">
		<operation name="doMove">
			<documentation>Realiza el siguiente movimiento.</documentation>
			<input message="tns:moveIn"/>
			<output message="tns:moveOut"/>
		</operation>
		<operation name="resetBoard">
			<documentation></documentation>
			<input message="tns:begin"/>
			<output message="tns:output"/>
		</operation>
		<operation name="getBoardStatus">
			<documentation></documentation>
			<input message="tns:begin"/>
			<output message="tns:intOut"/>
		</operation>
		<operation name="topPlays">
			<documentation></documentation>
			<input message="tns:begin"/>
			<output message="tns:stringOut"/>
		</operation>
		<operation name="leaderboardCheck">
			<documentation></documentation>
			<input message="tns:leaderboardCheckIn"/>
			<output message="tns:intOut"/>
		</operation>
	</portType>

	<!-- Vinculación de los llamados con el transporte - RPC, SOAP/Encoded over HTTP -->

	<binding name="ECCI_TicTacToeBinding" type="tns:ECCI_TicTacToePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>		
		<operation name="doMove">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#doMove"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
		<operation name="resetBoard">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#resetBoard"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
		<operation name="getBoardStatus">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#getBoardStatus"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
		<operation name="topPlays">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#topPlays"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
		<operation name="leaderboardCheck">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#leaderboardCheck"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
	</binding>

	<!-- Punto de comunicación con la clase HolaMundo -->

	<service name="ECCI_TicTacToeService">
		<port name="ECCI_TicTacToePort" binding="tns:ECCI_TicTacToeBinding">
			<soap:address location="http://localhost/TicTacToe-RPC-Encoded/"/>
		</port>
	</service>
</definitions>
