Servidor/TicTacToe-RPC-Encoded/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Tic Tac Toe. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:ECCI_TicTacToe"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="ECCI_TicTacToe"
			 targetNamespace="urn:ECCI_TicTacToe">

	<!-- Tipos complejos -->	
	<types>
		<xsd:complexType name="ArrayOfInts">
			<xsd:complexContent>
				<xsd:restriction base="soapenc:Array">
					<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:schema targetNamespace="urn:ECCI_TicTacToe"/>
	</types>

	<!-- Mensajes para comunicarse con la clase HolaMundo. -->

	<message name="moveIn">
		<part name="move" type="xsd:int"/>
	</message>

	<message name="moveOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="stringIn">
		<part name="move" type="ArrayOfInts"/>
	</message>

	<message name="stringOut">
		<part name="return" type="xsd:string"/>
	</message>


	<!-- Puerto para comunicar con la clase TicTacToe, "ECCI_TicTacToePort" -->

	<portType name="ECCI_TicTacToePort">
		<operation name="doMove">
			<documentation>Realiza el siguiente movimiento.</documentation>
			<input message="tns:moveIn"/>
			<output message="tns:moveOut"/>
		</operation>
		<operation name="newFunction">
			<documentation></documentation>
			<input message="tns:stringIn"/>
			<output message="tns:stringOut"/>
		</operation>
	</portType>

	<!-- Vinculación de los llamados con el transporte - RPC, SOAP/Encoded over HTTP -->

	<binding name="ECCI_TicTacToeBinding" type="tns:ECCI_TicTacToePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>		
		<operation name="doMove">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#doMove"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
		<operation name="newFunction">
			<soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#newFunction"/>
			<input>
				<soap:body use="encoded"
							encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
							namespace="urn:ECCI_TicTacToe"/>
			</input>
			<output>
				<soap:body use="encoded"
							encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
							namespace="urn:ECCI_TicTacToe"/>
			</output>
		</operation>
	</binding>

	<!-- Punto de comunicación con la clase HolaMundo -->

	<service name="ECCI_TicTacToeService">
		<port name="ECCI_TicTacToePort" binding="tns:ECCI_TicTacToeBinding">
			<soap:address location="http://localhost/TicTacToe-RPC-Encoded/"/>
		</port>
	</service>
</definitions>
